<div class="container">
	<div class="row nopadding">
		<div class="col-md-12 nopadding text-center">

			<%= image_tag "civicup-logo-128.png", size: "60x60" %>
			<h1>About CivicUp</h1>

			<div class="col-md-6 text-left">
				<p>Coming soon.</p>

				<ul class="list-group">
					<li class="list-group-item">QA Item 1</li>
					<li class="list-group-item">QA Item 2</li>
					<li class="list-group-item">QA Item 3</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
