<div class="container">
	<div class="row">
		<div class="col-md-12 nopadding text-center">

			<%= image_tag "civicup-logo-128.png", size: "60x60" %>			
			<h1>Contact CivicUp</h1>
			<br><br>
			<p>This app was created by <a href="http://codefll.org" target="_blank">Deven Blackburn</a>.</p>

		</div>
	</div>
</div>
