<div class="container">
	<div class="row">
		<h3 class="text-center">UpLearn is the best place to find and share online learning resources</h3>
	</div>

	<!-- search bar -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<input type="search" ng-model="search" placeholder="Search links" class="form-control" aria-label="Search" />
		</div>
	</div>
	<br>

	<!-- Message to display if no search results returned -->
	<h3 ng-if="filteredLinks.length === 0" class="animate-if">No results found for {{ search }}</h3>
	
	<div class="row">
		<!-- ng-repeat outer loop for grouped dates -->
		<div ng-repeat="group in filteredLinks = (groupedLinks | filter:search)" class="link-item">
			
			<!-- display group date as header, with 'Latest' for first group -->
			<h5 ng-if="$first" class="group-date-headings">Latest links</h5>
			<h5 ng-if="!$first" class="group-date-headings">Shared on {{ group[0].created_at_formatted }}</h5>

			<!-- ng-repeat inner loop for individual links within groups -->
			<div ng-repeat="link in group | filter:search | orderBy: '-created_at'" class="link-item">
				
				<!-- content inside ng-repeat loop -->
				<span ng-click="hiddenDiv = !hiddenDiv" style="cursor: pointer">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-10">
								<h4 class="margin-special">{{ link.title }}</h4>

								<!-- Refactor this $$state.value section of the code -->
								<!-- <span ng-if="loggedInUser.$$state.value.username === link.user.username">
									<a href="#/profile/{{ loggedInUser.$$state.value.id }}">{{ loggedInUser.$$state.value.username }}</a>
								</span> -->
								{{ link.user.username }} shared at {{ link.time_submitted }}<br>

								<!-- testing out this code -->
								<!-- <p>{{ loggedInUser }}</p> -->
								<!-- <span ng-controller="NavCtrl">{{ user.username }}</span> -->
								<!-- <br> -->

								<!-- Refactor this section of the code -->
								<!-- Use a directive to handle this pluralized section -->
								<!-- <span ng-show="link.comments.length > 1">
									<a href="#/links/{{ link.id }}">{{ link.comments.length }} comments</a>
								</span>
								<span ng-show="link.comments.length == 1">
									<a href="#/links/{{ link.id }}">{{ link.comments.length }} comment</a>
								</span>
								<span ng-show="link.comments.length == 0">
									<a href="#/links/{{ link.id }}">No comments</a>
								</span> -->
								<!-- <br>
								<a href="{{ link.url }}" target="_blank">
									<span class="glyphicon glyphicon-link"></span>
									{{ link.url }}
								</a> -->
							</div>

							<div class="col-md-2">
								<!-- Upvote button -->
								<div class="pull-right">
									<button ng-click="upvoteLink(link)" class="btn btn-primary margin-12px" type="button">
										<!-- <span class="glyphicon glyphicon-thumbs-up"></span> -->
										<span class="badge">{{ link.upvotes }}</span>
									</button>
								</div>
							</div>
							
							<!-- section for link details in jumbotron pane -->
							<div class="col-md-12">
							<div ng-show="hiddenDiv">
								<div class="jumbotron" ng-click="showLink(link)">
									<!-- <a href="#/links/{{$index}}">details</a> -->
									<h2><!-- <span class="glyphicon glyphicon-bookmark"></span> --> {{ link.title }}</h2>
									<p>{{ link.body }}</p>
									<!-- <p>Shared by <a ng-ref="#/users/{{ link.user.username }}">{{ link.user.username }}</p> -->
									<!-- Refactor this section of the code -->
									<!-- Use a directive to handle this pluralized section -->
									<p>
										<span ng-show="link.comments.length > 1">
											<a href="#/links/{{ link.id }}">{{ link.comments.length }} comments</a>
										</span>
										<span ng-show="link.comments.length == 1">
											<a href="#/links/{{ link.id }}">{{ link.comments.length }} comment</a>
										</span>
										<span ng-show="link.comments.length == 0">
											<a href="#/links/{{ link.id }}">No comments</a>
										</span>
									</p>
									<!-- <br> -->
									<p>
										<a href="{{ link.url }}" target="_blank">
											<!-- <span class="glyphicon glyphicon-link"></span> -->
											{{ link.url }}
										</a>
									</p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>