/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

/* Body padding settings for navbar-fixed-top, no longer required with navbar-static-top */
/*body { 
 	padding-top: 50px; 
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
	body {
		padding-top: 350px;
	}
}*/

/*Overides to bootstrap styles*/
.navbar-static-top {
	padding-left: 25px;
	padding-right: 25px;
}
.jumbotron {
	margin-top: 30px;
	margin-bottom: 10px;
}
.list-group-item-custom {
	border: 0px;
}
.panel-body {
	padding: 3px 10px 3px 10px;
}


/*Custom styles*/
.group-date-headings {
	color: #998E8E;
	letter-spacing: 0.1em;
}
.add-margin-right {
	margin-right: 15px;
}
.margin-special {
	margin-top: 7px !important;
	margin-bottom: 5px !important;
}
.margin-12px {
	margin: 12px !important;
}



/*ngAnimate classes*/
.animate-if.ng-enter,
.animate-if.ng-leave,
.link-item.ng-move,
.link-item.ng-enter,
.link-item.ng-leave {
	-webkit-transition: all ease-in-out 0.7s;
	transition: all ease-in-out 0.7s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active,
.link-item.ng-move,
.link-item.ng-enter,
.link-item.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0;
}
.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave,
.link-item.ng-move.ng-move-active,
.link-item.ng-enter.ng-enter-active,
.link-item.ng-leave {
	opacity: 1;
	max-height: 40px;
}


/* Avatar styling */
.navbar-gravatar {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	margin: 8px 0 8px 0;
}

