<div class="container">
	<div class="row">

		<div class="col-md-12 nopadding">
			<div ng-controller="NavCtrl">
				<h1>Welcome {{ user.username | lowercase }}!</h1>

				<p>{{ user.username }} created the following initiatives:</p>

				<div ng-repeat="link in links | orderBy: '-created_at'">
					<ul>
						<!-- the following ng-if means only links for current user show up -->
						<li ng-if="link.user.username === user.username">
							<a href="#/links/{{ link.id }}">
								{{ link.title | uppercase }}
							</a> on {{ link.created_at_formatted }}
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
